.cover-show{
    background-color: bisque;
    width: 100%;
    height: 100%;
    border: 1px solid bisque;
    margin-right: auto;
    margin-left: auto
    
}


@media (min-width:576px) {
    .cover-show {
        max-width: 400px
    }
    footer {
        max-height: 200px !important;
        font-size: 5px !important;
        padding: 6px;
    }

}

@media (min-width:768px) {
    .cover-show {
        max-width: 500px
    }

    .cover-show > div {
        padding-bottom: 3rem;
    }


    footer {
        max-height: 300px;
        font-size: 2px !important;
        padding: 15px;
    }

    .signup-section {
        padding: 5rem 0;
    }

}

@media (min-width:992px) {
    .cover-show {
        max-width: 700px
    }

    .cover-show > div {
        padding-bottom: 5rem;
    }

    footer {
        margin: 10px;
        font-size: 10px;
        padding: 17px;
    }
    .signup-section {
        padding: 5rem 0;
    }
}

@media (min-width:1200px) {
    .cover-show {
        max-width: 1000px
    }
}