.cover-show{
    background-color: bisque;
    width: 100%;
    height: 100%;
    border: 1px solid bisque;
    margin-right: auto;
    margin-left: auto
    
}
 

@media (min-width:576px) {
    

    .masthead {
        padding-top: 40% !important;
        padding-bottom: 10% !important;
    }
    .masthead .btn {
        padding: 1rem !important;
        font-size: 1rem !important;
    }
    .about-section {
        padding-top: 10%;
    }
    .about-section h2 {
        font-size: 1.5rem !important;
    }
    .cover-show {
        padding: 1rem !important    ;
    }
    #about ~ h2{
        font-size: 1rem !important;
    }
    #about ~ p {
        font-size: .5rem !important;
    }

    .featured-text {
        margin: .25rem !important;
    }
    .signup-section {
        padding: 3rem 0;
    }
    .signup-section h2, .signup-section .btn {
        font-size: 1rem;
        padding: .8rem;
    }
    #signup h2 {
        padding: 1rem !important;
    }

    footer {
        padding: 1rem;
    }
    footer div {
        font-size: .9rem;
    }
    .main-title h1 {
        font-size: 2rem !important;
    }
}

@media (min-width:768px) {

    .cover-show h4, .cover-show p, .cover-show img{
        padding: 3%;
        margin-top: 5%;
        
    }

    .cover-show h4 {
        font-size: 2rem;
    }
    .cover-show p {
        font-size: 1.6rem;
    }
    .masthead {
        padding-top: 30% !important;
        padding-bottom: 30% !important;
    }

    footer {
        max-height: 300px;
        font-size: 2px !important;
        padding: 15px;
    }

    .signup-section {
        padding: 5rem 0;
    }
    .about-section {
        margin: 0 auto;
    }
    #signup h2 {
        padding: 1rem !important;
    }

    .signup-section h2, .signup-section .btn {
        font-size: 1.2rem;
    }
}

@media (min-width:992px) {
    
    .cover-show {
        padding: 5% !important;  
    }

    .cover-show h4, .cover-show p, .cover-show img{
    
        padding: 3%;
        
        
    }
    .cover-show h4 {
        font-size: 1.6rem;
    }
    .cover-show p {
        font-size: 1rem;
    }

    footer {
        margin: 10px;
        font-size: 10px;
        padding: 17px;
    }
    .signup-section {
        padding: 5rem 0;
    }
    .about-section {
        margin: 0 auto;
    }
}
