body {
    background: url("../img/main-img.HEIC") no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-img {
    max-height: 480px;
    background-image: url('../assets/img_1_ori.HEIC');
    overflow: hidden;
    width: 100%;
    position: relative;
    align-items: center;
    height: 480px;
}

.login-section {
    margin-top: 200px;
}

.login-name {
    margin-top: 213px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 400;
    line-height: 2;
    height: 39px;
}

.login {
    width: 579px;
    height: 460px;
    background-color: rgba(255, 254, 252, 0.877);
    border-radius: 30px;
    box-shadow: 20px 20px 48px 0 rgba(0, 0, 0, 0.164);
    margin: auto;
    position: relative;
    padding-top: 45px;
    text-align: center !important;
}

.login-title {
    font-size: 25px;
    font-weight: 800;
    margin-top: 21px;
}

.login-inst {
    font-size: 17px;
    font-weight: 400;
    margin-top: 19px;
}

.login-form label{
    margin-left: 110px;
}

 .login-pw input{
    font-family: serif;
} 

 .login-id input, .login-pw input{
    width: 381px;
    height: 55px;
    border-radius: 10px;
    border: solid 2px rgb(155, 155, 155);
    background-color: #fff;
    outline: none;
    padding-left: 20px;
    margin-left: 99px;
    text-align: center;
   
} 


.login-id input:hover, .login-pw input:hover {
    border: solid 2px #008158;
}

.login-btn {
    width: 381px;
    height: 64px;
    border: 2px solid #008158;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    cursor: pointer;
    
    color: #008158;
    font-size: 20px;
    font-weight: 800;
    margin-top: 47px;
    outline: none;
    -webkit-appearance: none;
    padding: 0;
    margin-left: 99px;
}
.login-btn:hover {
    background-color: #008158;
    color: #fff;
}

input:focus::-webkit-input-placeholder { 
    font-family: serif;
    color: transparent; 
} 

input:focus::-moz-placeholder { 
    font-family: serif;
    color: transparent; 
} 

input:focus:-ms-input-placeholder { 
    font-family: serif;
    color: transparent; 
} 

input:focus::-ms-input-placeholder { 
    font-family: serif;
    color: transparent; 
}



@media (min-width:576px) {
    
    
}

@media (min-width:768px) {

    
}

@media (min-width:992px) {
    
    
}

